*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{

    font-family: "Poppins", sans-serif;
}
#logo,h1.h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
}
.features p{
font-size: 1rem;
}
.features{
    width: 100%;
     height: 100%;
}